.search {
	&.content-sidebar {
		.content {
			width: 74%;
		}

		.sidebar-primary {
			width: 23.5%;
		}
	}


	.entry {
		margin-bottom: 1em;

		.entry-title {
			margin-bottom: .25em;
			text-transform: uppercase;
		}
	}

	.entry-image {
		margin-bottom: .75em;
		border-bottom: .25em solid $orange;
	}

	.entry-excerpt {
		margin-bottom: 1em;
		color: #4f4f4f;
		font-size: .95em;
		line-height: 1.45;
	}
}

.archive-description {
	> .wrap {
		@extend %wrap;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid $grey-border;
	}
}

.archive-title {
	color: $orange;
	text-transform: uppercase;
	font-size: 1.5em;
}
