.author {
	.author-box {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid $grey-border;

		> .wrap {
			@extend %wrap;
		}

		.inner {
			display: flex;
			align-items: center;
			padding-top: .5em;
			padding-bottom: .5em;
			width: 74%;
		}

		.left {
			flex-shrink: 0;
			margin-right: 2.25em;
		}

		img {
			margin-bottom: 0;
		}

		.right {
			padding-top: 0;
		}

		.author-box-title {
			margin-bottom: .25em;
			font-size: 1.25em;

			span {
				font-size: 1.25em;
			}
		}

		p {
			font-size: 1em;
		}
	}
}

.hc-archive {
	&.content-sidebar {
		.content {
			width: 74%;
		}

		.sidebar-primary {
			width: 23.5%;
		}
	}

	.entry {
		.entry-title {
			margin-bottom: .25em;
			text-transform: uppercase;
		}
	}

	.entry-image {
		border-bottom: .25em solid $orange;
	}

	.entry-excerpt {
		margin-bottom: 1em;
		color: #4f4f4f;
		font-size: .95em;
		line-height: 1.45;
	}
}

.two-columns-archive {
	.entry {
		margin-bottom: 1em;
	}

	.entry-image {
		margin-bottom: .75em;
	}
}

.one-column-archive {
	.entry {
		display: flex;
		align-items: flex-end;
		margin-bottom: 1.75em;

		.entry-content {
			margin-bottom: 0;
		}
	}

	.read-more-share-bar {
		display: flex;
		align-items: center;

		> a {
			flex-grow: 1;
			flex-shrink: 0;
		}

		.btn {
			margin-left: 1em;
		}
	}
}

.infinite-scroll {
	.pagination {
		display: none;
	}
}

.il-load-more {
	clear: both;
	margin-top: 2em;
	padding: 0 .25em;
	width: 100%;
	height: 2px;
	background-color: $grey-dark;
	color: $grey-dark;

	&:focus {
		outline: none;
	}

	span {
		display: inline-block;
		background-color: $white;
		transform: translateY(-25%);
	}

	i {
		display: block;
		margin-bottom: 1.25em;
		font-size: 1.25em;
	}

	label {
		display: block;
		margin-bottom: 0;
		color: inherit;
		text-transform: none;
		font-style: italic;
		font-size: 1em;
		font-family: $meta;
	}
}

.archive-description {
	> .wrap {
		@extend %wrap;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid $grey-border;
	}
}

.archive-title {
	color: $orange;
	text-transform: uppercase;
	font-size: 1.5em;
}

.archive-slider-container {
	overflow: hidden;
	margin-bottom: 2.5em;
	max-height: 25em;

	> .wrap {
		@extend %wrap;
		position: relative;
	}
}

.slider-for {
	width: 67.5%;

	img {
		max-width: none;
		width: 100%;
	}
}

.slider-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 35.5%;
	color: $white;

	.slick-slide {
		position: relative;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	.outer {
		position: relative;
		margin-left: 2em;
		transition: margin-left .1s ease-in-out;

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			right: 100%;
			display: none;
			width: 0;
			height: 0;
			border-width: .5em .65em .5em 0;
			border-style: solid;
			border-color: transparent;
			content: '';
			transform: translateY(-50%);
		}

		&:before {
			border-right-color: $orange;
		}

		&:after {
			margin-right: -1px;
			border-right-color: $white;
		}
	}

	.inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding: 1.25em;
		border: 1px solid $white;
		background-color: rgba( $black, .75 );

		i {
			margin-right: .5em;
			font-size: 3.25em;
		}

		span {
			text-transform: uppercase;
			font-size: 1.25em;
			font-family: $heading;
		}
	}

	.slick-current {
		border-color: $orange;

		.outer {
			margin-left: 1em;

			&:before,
			&:after {
				display: block;
			}
		}

		.inner {
			border-color: $orange;
			background-color: $white;

			i {
				color: $orange;
			}

			span {
				color: $text;
			}
		}
	}
}

.archive-has-slider {
	.nav-primary-wrapper {
		margin-bottom: 0;
	}

	.archive-description {
		@extend %visuallyhidden;
	}
}

.subcategory {
	margin-bottom: 2em;

	&:first-of-type {
		margin-top: 1.25em;
	}
}

.subcategory-description {
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid $grey-border;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;
	}

	.ico-circle,
	.archive-title,
	.ico-arrow-right-circle {
		display: inline-block;
		vertical-align: middle;
	}

	.ico-circle {
		color: $orange;
		font-size: 3em;
	}

	.archive-title {
		margin-right: .5em;
		margin-left: .5em;
	}

	.ico-arrow-right-circle {
		font-size: 1.5em;
	}
}
