.btn {
	display: inline-block;
	padding: .85em 1.65em;
	width: auto;
	border: none;
	border-radius: 0;
	background-color: $orange;
	color: $white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: .95em;
	font-family: $heading;
	line-height: 1;
	cursor: pointer;
	transition: all .1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.btn-icon {
	padding: 0;
	background-color: transparent;

	i,
	share {
		display: inline-block;
		vertical-align: middle;
	}

	i {
		color: $orange;
		font-size: 1.5em;
	}

	span {
		margin-left: .25em;
		color: $text;
		text-transform: lowercase;
		font-size: .9em;
		font-family: $heading;
	}
}

.btn-bordered {
	padding: .5em 1.5em;
	border: $border-width solid $white;
	font-size: .75em;
}
