.breadcrumbs {
	margin-bottom: .5em;
	color: $grey-lighter;

	> span {
		font-size: .9em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.breadcrumb_last {
		color: $orange;
	}
}

.entry-slideshow {
	position: relative;
	margin-top: -1.5em;
	margin-bottom: 1.5em;
}

.entry-header {
	margin-bottom: .5em;

	button {
		margin-left: 1em;

		&:first-child {
			margin-left: 0;
		}
	}
}

.entry-title {
	overflow: hidden;
	margin-bottom: .5em;
	word-wrap: break-word;
	font-size: 1.75em;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.date-row {
	margin-bottom: 1.75em;
	font-family: $heading;
}

.entry-time {
	color: $orange;
	font-size: 1.1em;
}

.entry-author {
	color: $orange;
	text-transform: uppercase;
	font-style: normal;
	font-family: $heading;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.featured-image-container {
	position: relative;
	margin-bottom: 1em;

	img {
		max-width: none;
		width: 100%;
	}
}

.header-default {
	.entry-header {
		.left {
			float: left;
			font-style: italic;
			font-family: $meta;

			p {
				font-size: .9em;
			}
		}

		.right {
			float: right;
		}
	}
}

.header-slideshow {
	.entry-header {
		margin-bottom: 2.5em;

		.inner {
			display: flex;
		}
	}

	.header-right {
		border-left: 1px solid $grey-border;
	}

	.header-top {
		display: flex;
		align-items: center;
		padding: 1em 2em 1.75em;
	}

	.header-bottom {
		padding: 2em;
		border-top: 1px solid $grey-border;

		.btn {
			display: block;
			margin-top: 2em;
			margin-left: 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.author-left {
		float: left;

		img {
			display: block;
			border: 2px solid $orange;
			border-radius: 50%;
		}
	}

	.author-right {
		float: right;
		margin-left: .5em;
		text-align: center;

		.entry-author {
			display: block;
			margin-bottom: .75em;
			color: $orange;
			text-transform: uppercase;
			font-size: 1.05em;
			font-family: $heading;
		}

		p {
			font-style: italic;
			font-size: .95em;
			font-family: $meta;
		}
	}
}

.spon-tag {
	position: absolute;
	right: 1em;
	bottom: 1.25em;
	z-index: 5;
	padding: .5em 1.25em;
	background-color: $white;
	color: $black;
	text-transform: uppercase;
	font-size: .85em;
	line-height: 1;
	opacity: .8;
}

.entry-excerpt {
	margin-bottom: .75em;
	color: $grey-light;
	font-style: italic;
	font-family: $meta;

	p {
		@extend %type;
		font-size: 1.1em;
		line-height: 1.5;
	}
}

.entry-video {
	margin-bottom: 1em;
}

.entry-content {
	.entry & {
		margin-bottom: 1.5em;
	}

	h2 {
		margin-bottom: .2em;
		color: $orange;
		font-size: 1.1em;
	}

	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: 0;
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	position: relative;
	color: $orange;
	text-decoration: none;
	white-space: nowrap;
	font-style: italic;
	font-family: $meta;
}

.entry-footer {
	margin-bottom: 1.25em;

	&:empty {
		display: none;
	}
}

.entry-subscribe {
	margin-bottom: 2em;
	padding: 1.25em 1.75em 1.75em;
	border: 1px solid $orange;

	h2 {
		margin-bottom: .25em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25em;
	}

	p {
		margin-bottom: 1em;
		color: #999;
		text-align: center;
		font-weight: 600;
	}

	input[type='email'] {
		margin-bottom: 2em;
	}
}

.author-box {
	margin-bottom: 2em;

	img {
		display: block;
		margin-bottom: 1em;
		border: 2px solid $orange;
		border-radius: 50%;
	}

	figcaption {
		color: #c7c7c7;
		font-size: .85em;
	}

	.right {
		padding-top: 1em;
	}

	.author-box-title {
		margin-bottom: .75em;
		font-style: italic;
		font-size: .95em;
		font-family: $meta;

		span {
			margin-right: .5em;
			color: $orange;
			text-transform: uppercase;
			font-style: normal;
			font-size: 1.1em;
			font-family: $heading;
		}
	}

	p {
		color: #4f4f4f;
		font-size: .9em;
		line-height: 1.4;
	}

	.read-more {
		color: $grey-lighter;
		text-align: right;
		font-style: $meta;
		font-style: italic;
		font-size: .95em;
	}
}

.entry-pagination {
	@extend %type;
}

.archive-pagination {
	clear: both;

	li {
		display: inline;
	}
}
