label {
	display: block;
	margin-bottom: .5em;
	color: $grey;
	text-transform: uppercase;
	font-size: .9em;
	font-family: $heading;
}

input:focus,
textarea:focus {
	// outline: none;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='number'],
textarea {
	padding: .5em;
	max-width: 100%;
	width: 100%;
	border: 1px solid $orange;
	border-radius: 0;		 // Removes the border radius on iOS
	color: $black;
	font-size: .85em;
	-webkit-appearance: none; // Removes the shadow on iOS
	-moz-appearance: none;
}

// Hide the spinner on input[type="number"] in Firefox
input[type='number'] {
	// -moz-appearance:textfield;
}

// Hide the spinner on input[type="number"] in Chrome/Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	// -webkit-appearance: none;
}

textarea {
	resize: vertical; // Allow only vertical resizing of textareas.
}

select {
	width: 100%;

	&.styled {
		padding: .5em;
		border: none;
		border-radius: 0;
		background-color: $white;
		color: $black;
		font-size: .85em;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

.placeholder {
	color: $grey-lighter;
	text-overflow: ellipsis;
	font-style: italic;
	font-family: $meta;
}

::placeholder {
	color: $grey-lighter;
	text-overflow: ellipsis;
	font-style: italic;
	font-family: $meta;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .btn;
}

input[type='search'] {
	box-sizing: border-box; // Overrides normalize.css
}

.search-form,
.post-password-form {
	display: flex;
	align-items: center;
	max-width: 28em;
	width: 100%;
	border: 1px solid transparent;
}

.search-form {
	position: relative;

	i {
		position: absolute;
		top: 50%;
		left: .5em;
		color: $orange;
		transform: translateY(-50%);
	}

	input[type='search'] {
		flex: 1;
		padding-left: 2em;
	}

	input[type='submit'] {
		margin-left: 1px;
		padding: .65em 1em;
	}
}

.post-password-form {
	input[type='password'] {
		flex: 1;
	}

	input[type='submit'] {
		margin-left: .25em;
	}
}
