.site-top {
	padding-top: .65em;
	padding-bottom: .65em;
	background-color: $orange-dark;
	color: $white;
	font-family: $heading;

	> .wrap {
		@extend %wrap;
	}

	.left {
		float: left;
	}

	.right {
		float: right;

		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
		}
	}

	a {
		display: inline-block;
		padding-top: .25em;
		padding-bottom: .25em;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		color: inherit;
		vertical-align: middle;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .85em;
		line-height: 1;
	}
}

@include media('<=phone') {
	.site-top {
		display: none;
	}
}

.sites-nav {
	li {
		display: inline-block;
		margin-left: 1.5em;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}

		&.current {
			a {
				border-bottom-color: $white;
			}
		}
	}
}

.site-header {
	background-color: $orange;

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;
	}
}

@include media('<=phone') {
	.site-header {
		margin-bottom: 1.5em;

		> .wrap {
			flex-wrap: wrap;
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.title-area {
	flex-grow: 1;
	flex-shrink: 0;
	float: left;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

@include media('<=phone') {
	.title-area {
		flex-grow: 0;
		order: 1;
		padding: .5em 1.5em;
	}
}

.site-title,
.site-description {
	@extend %visuallyhidden;
}

.site-logo {
	display: inline-block;
	text-decoration: none;

	i {
		display: none;
		color: $white;
		font-size: 3em;
	}
}

@include media('<=phone') {
	.site-logo {
		img {
			display: none;
		}

		i {
			display: block;
		}
	}
}

.header-widget-area {
	flex-grow: 1;
	flex-shrink: 0;
	float: right;
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	.search-form {
		margin-left: auto;
		border-color: $white;
	}
}

@include media('<=phone') {
	.header-widget-area {
		order: 3;
		float: none;
		padding-top: 0;
		padding-bottom: 0;

		.search-form {
			border: none;

			input[type='search'] {
				padding-top: .25em;
				padding-bottom: .25em;
			}

			input[type='submit'] {
				display: none;
			}
		}
	}
}

.mobile-header-right {
	display: none;
	flex-grow: 1;
	flex-shrink: 0;
	order: 2;
	float: right;
	padding: .5em 1.5em;
	text-align: right;

	.btn {
		display: inline-block;
		vertical-align: middle;
	}

	.toggle-nav {
		margin-left: 1em;
		padding: 0;
		font-size: 1.5em;
	}
}

@include media('<=phone') {
	.mobile-header-right {
		display: block;
	}
}
