.site-top {
	padding-top: .65em;
	padding-bottom: .65em;
	background-color: $orange-dark;
	color: $white;
	font-family: $heading;

	> .wrap {
		@extend %wrap;
	}

	.left {
		float: left;
	}

	.right {
		float: right;

		i {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
		}
	}

	a {
		display: inline-block;
		padding-top: .25em;
		padding-bottom: .25em;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		color: inherit;
		vertical-align: middle;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .85em;
		line-height: 1;
	}
}

.sites-nav {
	a {
		margin-left: 1.5em;

		&:first-child {
			margin-left: 0;
		}

		&.current {
			border-bottom-color: $white;
		}
	}
}

.site-header {
	background-color: $orange;

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;
	}
}

.title-area {
	flex-grow: 1;
	flex-shrink: 0;
	float: left;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.site-title,
.site-description {
	@extend %visuallyhidden;
}

.site-logo {
	display: block;

	img {
		display: block;
	}
}

.header-widget-area {
	flex-grow: 1;
	flex-shrink: 0;
	float: right;
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	.widget {
	}

	.search-form {
		margin-left: auto;
		border-color: $white;
	}
}
