.nav-primary-wrapper {
	position: relative;
	margin-bottom: 1.5em;
	border-bottom: 1px solid $orange;

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;

		> .left {
			float: left;
		}

		> .right {
			flex-grow: 1;
			flex-shrink: 0;
			float: right;
			text-align: right;
		}
	}
}

@include media('<=phone') {
	.nav-primary-wrapper {
		position: relative;
		display: none;
		margin-bottom: 0;

		.nav-open & {
			display: block;
		}

		> .wrap {
			display: block;

			> .left {
				float: none;
			}

			> .right {
				display: none;
			}
		}
	}
}

.main-menu {
	font-family: $heading;

	.menu-item {
		display: inline-block;

		&.has-children {
			&:hover,
			&:focus {
				.menu-item-link {
					&:after {
						display: block;
					}
				}

				.sub-menu {
					left: 0;
					opacity: 1;
				}
			}
		}
	}

	.menu-item-link,
	.inactive-link {
		position: relative;
		display: block;
		padding: 1.1em 1.25em;
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		font-size: .9em;
	}

	.menu-item-link {
		&:after {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 100;
			display: none;
			margin-top: -1px;
			width: 100%;
			height: 3px;
			background-color: $orange;
			content: '';
		}
	}

	.inactive-link {
		display: none;
		align-items: center;
		width: 100%;
		background-color: transparent;
		text-align: left;

		&:focus {
			outline: none;
		}

		span {
			flex-grow: 1;
			flex-shrink: 0;
		}

		i {
			flex-grow: 0;
			flex-shrink: 0;
		}

		.ico-arrow-down {
			display: block;
		}

		.ico-arrow-up {
			display: none;
		}
	}

	.sub-menu {
		position: absolute;
		top: 100%;
		top: calc(100% + 1px);
		left: -9999px;
		z-index: 99;
		display: flex;
		align-items: center;
		width: 100%;
		border-bottom: $border-width solid $orange;
		background-color: $white;
		opacity: 0;
		transition: opacity .4s ease-in-out;
	}

	.menu-col {
		display: flex;
		align-items: center;
	}

	.menu-col-links {
		padding-top: 1.5em;
		padding-bottom: 1.5em;

		i {
			display: block;
			color: $orange;
			text-align: center;
			font-size: 5em;
		}

		ul {
			padding-right: 2em;
			border-right: 1px solid $orange;
		}

		a {
			display: inline-block;
			padding: .15em 0;
			color: inherit;
			text-decoration: none;
			text-transform: uppercase;
			font-size: .85em;
		}
	}

	.menu-col-post {
		.first {
			padding-top: 1em;
			padding-bottom: 1em;
		}

		span {
			margin-bottom: .5em;
			color: #4f4f4f;
			font-style: italic;
			font-size: .95em;
			font-family: $meta;
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1em;
		}

		img {
			display: block;
		}
	}
}

@include media('<=phone') {
	.main-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 99;
		margin-top: -1.5em;
		padding-right: .75em;
		padding-left: .75em;
		width: 100%;
		background-color: #252525;
		color: $white;

		.menu-item {
			display: block;
			border-top: 1px solid #494949;

			&:first-child {
				border-top: none;
			}

			&.has-children {
				&:hover,
				&:focus {
					.menu-item-link {
						&:after {
							display: none;
						}
					}
				}

				&.active {
					.menu-item-link,
					.inactive-link {
					}

					.inactive-link {
						color: $orange;

						.ico-arrow-down {
							display: none;
						}

						.ico-arrow-up {
							display: block;
						}
					}

					.sub-menu {
						display: block;
					}
				}

				.menu-item-link {
					display: none;
				}
			}
		}

		.menu-item-link,
		.inactive-link {
			padding-right: 0;
			padding-left: 0;
		}

		.inactive-link {
			display: flex;
		}

		.sub-menu {
			position: static;
			z-index: auto;
			display: none;
			border-bottom: none;
			background-color: transparent;
			opacity: 1;
		}

		.menu-col-links {
			display: flex;
			align-items: flex-start;
			padding-top: 0;
			padding-bottom: 0;

			.left {
				flex-grow: 0;
				flex-shrink: 0;
				padding-right: 1em;
				width: auto;
			}

			i {
				font-size: 2.5em;
			}

			.right {
				flex-grow: 1;
				flex-shrink: 0;
				width: auto;
			}

			ul {
				padding-right: 0;
				border-right: none;
			}
		}

		.menu-col-post {
			display: none;
		}
	}
}
