.nav-primary-wrapper {
	margin-bottom: 1.5em;
	border-bottom: 1px solid $orange;

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;
	}

	.left {
		float: left;
	}

	.right {
		flex-grow: 1;
		flex-shrink: 0;
		float: right;
		text-align: right;
	}
}

.genesis-nav-menu {
	@extend %clearfix;
	width: 100%;
	font-family: $heading;

	// Applied to all menu <li>s
	.menu-item {
		a {
			position: relative;
			display: block;
			padding: 1.1em 1.25em;
			color: inherit;
			text-decoration: none;
			font-size: .9em;
		}
	}

	// First level
	> .menu-item {
		position: relative;
		display: inline-block;
		text-align: left;

		&:hover,
		&:focus,
		&:active,
		&.sfHover {
			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}

		&:first-child {
			> a {
				padding-left: 0;
			}
		}

		&.current-menu-item {
			> a {
			}
		}

		> a {
			text-transform: uppercase;
		}
	}

	// Sublevels
	.sub-menu {
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 99;
		display: none !important;
		opacity: 0;
		transition: opacity .4s ease-in-out;

		> .menu-item {
			> a {
				position: relative;
			}
		}

		.sub-menu {
		}
	}
}
