embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
	vertical-align: middle;
}

figure {
	margin: 0;
}

img {
	width: auto; // IE8 image height correct, so that img max-width: 100% doesn't produce disproportionate images
	height: auto;
}

img.aligncenter,
.aligncenter {
	display: block;
	margin: 0 auto $spacer auto;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin-right: $spacer;
	margin-bottom: $spacer;
}

img.alignright,
.wp-caption.alignright {
	margin-bottom: $spacer;
	margin-left: $spacer;
}

.wp-caption {
	width: auto !important;

	img {
		display: block;
		margin-bottom: .5em;
	}

	.wp-caption-text {
		@extend %type;
		color: $grey-light;
		text-align: center;
		font-weight: 600;
		font-size: .85em;
	}
}
