.pika-single {
	position: relative;
	z-index: 9999;
	display: block;
	border: 1px solid $grey-border;
	background: $white;

	&.is-hidden {
		display: none;
	}

	&.is-bound {
		position: absolute;
	}
}

.pika-single {
	@extend %clearfix;
}

.pika-lendar {
	float: left;
	margin: .5em;
	width: 18.75em;
}

.pika-title {
	position: relative;
	text-align: center;

	select {
		position: absolute;
		top: 5px;
		left: 0;
		z-index: 9998;
		margin: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.pika-label {
	position: relative;
	z-index: 9999;
	display: inline-block;
	overflow: hidden;
	padding: .55em .25em;
	background-color: $white;
	text-transform: uppercase;
	font-size: .9em;
	font-family: $heading;
	line-height: 1;
}

.pika-prev,
.pika-next {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0;
	width: 20px;
	height: 30px;
	outline: none;
	border: 0;
	background-color: transparent;
	background-position: center center;
	background-size: 75% 75%;
	background-repeat: no-repeat;
	text-indent: 20px;
	white-space: nowrap;
	opacity: .5;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}

	&.is-disabled {
		opacity: .2;
		cursor: default;
	}
}

.pika-prev {
	float: left;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
}

.pika-next {
	float: right;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
}

.pika-select {
	display: inline-block;
}

.pika-table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;

	th,
	td {
		padding: 0;
		width: (100% / 7);
		text-align: center;
	}

	th {
		padding: .5em 0;
		text-transform: uppercase;
		font-size: .75em;
		font-family: $heading;
		line-height: 1;
	}

	abbr {
		border-bottom: none;
	}
}

.pika-button {
	display: block;
	padding: .75em .25em;
	width: 100%;
	outline: none;
	background: transparent;
	color: $text;
	font-size: .75em;
	cursor: pointer;

	.is-today & {
		color: $orange;
	}

	.is-selected & {
		background: $orange;
		color: $white;
	}

	.is-disabled & {
		color: #999;
		opacity: .3;
		cursor: default;
		pointer-events: none;
	}
}
