.share-button {
	padding: 0;
	background-color: transparent;

	i,
	share {
		display: inline-block;
		vertical-align: middle;
	}

	i {
		color: $orange;
		font-size: 1.5em;
	}

	span {
		margin-left: .25em;
		color: $text;
		text-transform: lowercase;
		font-size: .9em;
		font-family: $heading;
	}
}
