.sidebar {
	.widget {
		margin-bottom: 2.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widgettitle {
		margin-bottom: .25em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25em;
	}
}

.widget_hc_featured_widget {
	.featured-item {
		margin-bottom: 1em;
		border: 1px solid $orange;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		.inner {
			padding: 1em .75em;
			text-align: center;
		}

		img {
			display: block;
			border-bottom: 1px solid $orange;
		}

		h5 {
			text-transform: uppercase;
			font-size: .9em;
		}

		p {
			@extend %type;
			color: $orange;
			font-style: italic;
			font-size: .85em;
			font-family: $meta;
			line-height: 1.2;
		}
	}
}

.widget_hc_join_widget {
	padding: 1.25em .5em 1em;
	border: 1px solid $orange;
	text-align: center;

	.widgettitle {
		margin-bottom: .75em;
	}

	p {
		@extend %type;
	}

	.above-text {
		margin-bottom: 1em;
		color: $orange;
		font-style: italic;
		font-family: $meta;
	}

	.btn {
		margin-bottom: 1.5em;
		padding: .65em 2em;
		font-size: 1.25em;
	}

	.below-text {
		p {
			color: $grey-lighter;
			font-style: italic;
			font-size: .9em;
			font-family: $meta;
			line-height: 1.2;
		}
	}
}

.widget_hc_follow_widget {
	text-align: center;

	.widgettitle {
		position: relative;
		margin-bottom: 1.25em;

		span {
			position: relative;
			display: inline-block;
			padding: .4em .8em;
			background-color: $orange;
			color: $white;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $orange;
			content: '';
			transform: translateY(-50%);
		}
	}

	a {
		color: $grey-lighter;
		font-size: 3em;
	}
}

.widget_hc_subscribe_widget {
	padding: 1.5em 1em 1.75em;
	border: 1px solid $orange;
	text-align: center;

	.widgettitle {
		margin-bottom: 1em;
	}

	p {
		@extend %type;
	}

	.above-text {
		margin-bottom: 1em;

		p {
			color: #999;
			font-style: italic;
			font-family: $meta;
			line-height: 1.4;

			em {
				color: $orange;
			}
		}
	}

	label {
		margin-bottom: .5em;
	}

	input[type='email'] {
		margin-bottom: 1.5em;
	}
}
