.sidebar {
	.widget {
		margin-bottom: 2.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widgettitle {
		margin-bottom: .25em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25em;
	}
}

.widget_hc_featured_widget {
	.featured-item {
		margin-bottom: 1em;
		border: 1px solid $orange;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		.inner {
			padding: 1em .75em;
			text-align: center;
		}

		img {
			display: block;
			border-bottom: 1px solid $orange;
		}

		h5 {
			text-transform: uppercase;
			font-size: .9em;
		}

		p {
			color: $orange;
			font-style: italic;
			font-size: .85em;
			font-family: $meta;
		}
	}
}

.featured-event-widget {
	border: 1px solid $orange;

	img {
		display: block;
		border-bottom: 1px solid $orange;
	}

	.bottom {
		overflow: hidden;
		height: 5em;
	}

	.left {
		float: left;
		padding: 1em;
		width: 25%;
		height: 100%;
		background-color: $orange;
		color: $white;
		text-align: center;
		font-family: $heading;

		span {
			display: block;
			line-height: 1;
		}

		.m {
			text-transform: uppercase;
		}

		.d {
			font-size: 2em;
		}
	}

	.right {
		float: left;
		padding: .25em 1em;
		width: 64%;
		height: 100%;

		p {
			margin-bottom: .25em;
			color: $grey-dark;
			font-style: italic;
			font-size: .9em;
			font-family: $meta;
		}

		h5 {
			font-size: .9em;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

	.slick-arrow {
		top: auto;
		right: 0;
		padding: 0;
		width: 2.5em;
		height: 2.5em;
		border-left: 1px solid $orange;
		background-color: transparent;
		color: $grey-lighter;
		font-size: 1em;
		transform: none;
	}

	.slick-prev {
		bottom: 2.5em;
		left: auto;
		border-bottom: 1px solid $orange;
	}

	.slick-next {
		bottom: 0;
	}
}

.widget_hc_join_widget {
	padding: 1.25em .5em 1em;
	border: 1px solid $orange;
	text-align: center;

	.widgettitle {
		margin-bottom: .75em;
	}

	.above-text {
		margin-bottom: 1em;
		color: $orange;
		font-style: italic;
		font-family: $meta;
	}

	.btn {
		margin-bottom: 1.5em;
		padding: .65em 2em;
		font-size: 1.25em;
	}

	.below-text {
		p {
			color: $grey-lighter;
			font-style: italic;
			font-size: .9em;
			font-family: $meta;
		}
	}
}

.widget_hc_follow_widget {
	text-align: center;

	.widgettitle {
		position: relative;
		margin-bottom: 1.25em;

		span {
			position: relative;
			display: inline-block;
			padding: .4em .8em;
			background-color: $orange;
			color: $white;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $orange;
			content: '';
			transform: translateY(-50%);
		}
	}

	a {
		color: $grey-lighter;
		font-size: 3em;
	}
}

.widget_hc_subscribe_widget {
	padding: 1.5em 1em 1.75em;
	border: 1px solid $orange;
	text-align: center;

	.widgettitle {
		margin-bottom: 1em;
	}

	.above-text {
		margin-bottom: 1em;

		p {
			color: $grey;
			font-style: italic;
			font-family: $meta;

			em {
				color: $orange;
			}
		}
	}

	label {
		margin-bottom: .5em;
	}

	input[type='email'] {
		margin-bottom: 1.5em;
	}
}
