.sidebar {
	position: relative;
	overflow: hidden;

	.widget {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widgettitle {
		margin-bottom: .5em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;
	}
}

@include media('>portrait') {
	.has-affixed-sidebar {
		.content-sidebar-wrap {
			display: flex;
		}
	}

	.affix-on-scroll {
		background-color: $white;

		&.affix {
			position: absolute;
			left: 0;
			transition: transform .1s;
		}

		&.affix-bottom {
			position: absolute;
			bottom: 2em;
			left: 0;
		}
	}
}

.archive-sub-sections {
	.sidebar {
		margin-top: 5.3em;
	}
}

@include media('<=portrait') {
	.archive-sub-sections {
		.sidebar {
			margin-top: 0;
		}
	}
}

.featured-widget-slider {
	border: 1px solid $orange;

	img {
		display: block;
		max-width: none;
		width: 100%;
		border-bottom: 1px solid $orange;
	}

	.bottom {
		overflow: hidden;
		height: 3.5em;
	}

	.left {
		float: left;
		padding: .5em .25em;
		width: 20%;
		height: 100%;
		background-color: $orange;
		color: $white;
		text-align: center;
		font-family: $heading;

		span {
			display: block;
			line-height: 1;
		}

		.m {
			text-transform: uppercase;
			font-size: .9em;
		}

		.d {
			font-size: 1.5em;
		}
	}

	.right,
	.full {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.right {
		float: left;
		padding: .25em 1em;
		width: 69%;
	}

	.full {
		padding: .25em 3em .25em 1em;
	}

	p {
		@include meta-font;
		margin-bottom: 0;
		color: $grey-dark;
		font-size: .65em;
	}

	h5 {
		text-transform: uppercase;
		font-size: .9em;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.slick-arrow {
		top: auto;
		right: 0;
		padding: 0;
		width: (3.5em / 2);
		height: (3.5em / 2);
		border-left: 1px solid $orange;
		background-color: transparent;
		color: $grey-lighter;
		font-size: 1em;
		transform: none;

		i {
			font-size: 1em;
		}
	}

	.slick-prev {
		bottom: (3.5em / 2);
		left: auto;
		border-bottom: 1px solid $orange;
	}

	.slick-next {
		bottom: 0;
	}
}

.widget_hc_join_widget {
	padding: 1.5em 1.25em 1.25em;
	background-color: $orange;
	color: $white;
	text-align: center;

	.ico-heart {
		display: inline-block;
		margin-bottom: .5em;
		padding: .375em;
		width: 2em;
		height: 2em;
		border: $border-width solid $white;
		border-radius: 50%;
		font-size: 2em;
		line-height: 1.15;
	}

	h3 {
		margin-bottom: 1.25em;
		text-transform: uppercase;
		font-size: 1.35em;
	}

	.btn {
		margin-bottom: 1.75em;
		border: 2px solid $white;
	}

	p {
		@extend %type;
		font-size: .9em;
	}
}

@include media('<=portrait') {
	.widget_hc_join_widget {
		padding: .75em;
	}
}

.widget_hc_follow_widget {
	text-align: center;

	.widgettitle {
		position: relative;
		margin-bottom: .25em;

		span {
			position: relative;
			display: inline-block;
			padding: .4em .8em;
			background-color: $orange;
			color: $white;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $orange;
			content: '';
			transform: translateY(-50%);
		}
	}

	a {
		color: $grey-lighter;
		font-size: 2.5em;

		&:hover,
		&:focus {
			color: $orange;
		}
	}
}

.widget_hc_subscribe_widget {
	padding: 1em;
	border: 1px solid $orange;
	text-align: center;

	.widgettitle {
		margin-bottom: .75em;
	}

	.above-text {
		margin-bottom: 1em;

		p {
			@include meta-font;
			color: $grey;
			font-size: .75em;
		}
	}

	label {
		@extend %visuallyhidden;
		margin-bottom: .5em;
	}

	input[type='email'] {
		margin-bottom: .75em;
	}
}
