// Compass & Variables
@import 'compass/css3';

// Colors
@import '../bower_components/colors-sass/sass/variables';

// Variables & Mixins
@import '../bower_components/include-media/dist/_include-media';
@import '../bower_components/include-media-export/dist/_include-media-export';
@import 'variables';
@import 'mixins';

// Libraries
@import '../bower_components/Magnific-Popup/src/css/main.scss';
@import '../bower_components/slick-carousel/slick/slick';
@import 'pikaday';

// Normalize, Clearfix, & Toolkit
@import '../bower_components/normalize-scss/normalize.scss';
@import 'clearfix';
@import 'toolkit';
@import 'accessibility';

// Universal Box-Sizing (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/)
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// Sitewide Styles
@import 'icons';
@import 'grid';
@import 'layout';
@import 'type';
@import 'headings';
@import 'objects-and-images';
@import 'alerts';
@import 'buttons';
@import 'spinner';
@import 'forms';
@import 'subscriptions';
@import 'slides-general';
@import 'components';
@import 'favorites';
@import 'share';
@import 'social';

// Module Styles
@import 'header';
@import 'navigation';
@import 'content';
@import 'sidebars';
@import 'footer';

// Templates
@import 'archives';
@import 'calendar';
@import 'directory';
@import 'events-listings';
@import 'home';

// Print
@import 'print';

// IE Compatibility
@import 'ie';

// Shame - For new style snippets that haven't been sorted and commented yet
@import 'shame';
