/*
	Theme Name: The Honeycombers
	Theme URI: http://thehoneycombers.com/
	Author: Nomadic Multimedia
	Author URI: http://www.nomadicmultimedia.com/

	Template: genesis
	Template Version: 2.2.6
*/

.archive-sub-sections .sidebar {
	margin-top: 43px;
}

#leaderboard {
	margin-bottom: 20px;
}
