/*
	Theme Name: The Honeycombers
	Theme URI: http://thehoneycombers.com/
	Author: Nomadic Multimedia
	Author URI: http://www.nomadicmultimedia.com/

	Template: genesis
	Template Version: 2.2.6
*/


@media only screen and (max-width: 789px) {
	#takeover-top {
		margin-top: -21px;
		margin-bottom: 24px;
	}
	#takeover-bottom {
		margin-top: 0;
		margin-bottom: 0
	}
}

.pull-right.item.item-4 p {
	display: none;
}