$animation-base-speed: .125s;

@keyframes shake {
	from,
	100% {
		transform: translate3d(0, 0, 0);
	}

	20%,
	60% {
		transform: translate3d(-.5em, 0, 0);
	}

	40%,
	80% {
		transform: translate3d(.5em, 0, 0);
	}
}

.shake {
	animation-name: shake;
}

.animated {
	animation-duration: .25s;
	animation-fill-mode: both;
}


@keyframes two-step-small {
	from {
		background-position: 0;
	}
	to {
		background-position: (-2 * 40px);
	}
}

@keyframes two-step-large {
	from {
		background-position: 0;
	}
	to {
		background-position: (-2 * 90px);
	}
}

%animation-two-step {
	animation-duration: ($animation-base-speed * 2);
	animation-timing-function: steps(2);

	&.animation-small {
		animation-name: two-step-small;
	}

	&.animation-large {
		animation-name: two-step-large;
	}
}

@keyframes three-step-small {
	from {
		background-position: 0;
	}
	to {
		background-position: (-3 * 40px);
	}
}

@keyframes three-step-large {
	from {
		background-position: 0;
	}
	to {
		background-position: (-3 * 90px);
	}
}

%animation-three-step {
	animation-duration: ($animation-base-speed * 3);
	animation-timing-function: steps(3);

	&.animation-small {
		animation-name: three-step-small;
	}

	&.animation-large {
		animation-name: three-step-large;
	}
}

@keyframes four-step-small {
	from {
		background-position: 0;
	}
	to {
		background-position: (-4 * 40px);
	}
}

@keyframes four-step-large {
	from {
		background-position: 0;
	}
	to {
		background-position: (-4 * 90px);
	}
}

%animation-four-step {
	animation-duration: ($animation-base-speed * 4);
	animation-timing-function: steps(4);

	&.animation-small {
		animation-name: four-step-small;
	}

	&.animation-large {
		animation-name: four-step-large;
	}
}

@keyframes five-step-small {
	from {
		background-position: 0;
	}
	to {
		background-position: (-5 * 40px);
	}
}

@keyframes five-step-large {
	from {
		background-position: 0;
	}
	to {
		background-position: (-5 * 90px);
	}
}

%animation-five-step {
	animation-duration: ($animation-base-speed * 5);
	animation-timing-function: steps(5);

	&.animation-small {
		animation-name: five-step-small;
	}

	&.animation-large {
		animation-name: five-step-large;
	}
}

@keyframes six-step-small {
	from {
		background-position: 0;
	}
	to {
		background-position: (-6 * 40px);
	}
}

@keyframes six-step-large {
	from {
		background-position: 0;
	}
	to {
		background-position: (-6 * 90px);
	}
}

%animation-six-step {
	animation-duration: ($animation-base-speed * 6);
	animation-timing-function: steps(6);

	&.animation-small {
		animation-name: six-step-small;
	}

	&.animation-large {
		animation-name: six-step-large;
	}
}

.animation {
	background-position: 0 0;
	background-repeat: no-repeat;
	transition: none;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}

.animation-small {
	width: 40px;
	height: 40px;
}

.animation-large {
	width: 90px;
	height: 90px;
}

.animation-calendar {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/calendar-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/calendar-90.png');
	}
}

.animation-connect {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/connect-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/connect-90.png');
	}
}

.animation-directory {
	@extend %animation-four-step;

	&.animation-small {
		background-image: url('../images/animations/directory-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/directory-90.png');
	}
}

.animation-drinks {
	@extend %animation-three-step;

	&.animation-small {
		background-image: url('../images/animations/drinks-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/drinks-90.png');
	}
}

.animation-food {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/food-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/food-90.png');
	}
}

.animation-hacks {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/hacks-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/hacks-90.png');
	}
}

.animation-hitlist {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/hitlist-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/hitlist-90.png');
	}
}

.animation-recharge {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/recharge-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/recharge-90.png');
	}
}

.animation-shopping {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/shopping-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/shopping-90.png');
	}
}

.animation-travel {
	@extend %animation-six-step;

	&.animation-small {
		background-image: url('../images/animations/travel-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/travel-90.png');
	}
}

.animation-video {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/video-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/video-90.png');
	}
}

.animation-win {
	@extend %animation-two-step;

	&.animation-small {
		background-image: url('../images/animations/win-40.png');
	}

	&.animation-large {
		background-image: url('../images/animations/win-90.png');
	}
}
