$slider-height: 25em;

.author {
	.author-box {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid $grey-border;

		> .wrap {
			@extend %wrap;
		}

		.inner {
			display: flex;
			align-items: center;
			padding-top: .5em;
			padding-bottom: .5em;
			width: 74%;
		}

		.left {
			flex-shrink: 0;
			margin-right: 2.25em;
		}

		img {
			margin-bottom: 0;
		}

		.right {
			padding-top: 0;
		}

		.author-box-title {
			margin-bottom: .25em;
			font-size: 1.25em;

			span {
				font-size: 1.25em;
			}
		}

		p {
			font-size: 1em;
		}
	}
}

@include media('<=phone') {
	.author {
		.author-box {
			.inner {
				display: block;
				width: 100%;
			}

			.left {
				margin-right: 1em;
			}
		}
	}
}

.hc-archive {
	.entry {
		.entry-title {
			margin-bottom: .25em;
			text-transform: uppercase;
		}
	}

	.entry-image {
		border-bottom: $border-width solid $orange;
	}

	.entry-excerpt {
		margin-bottom: 1em;
		color: $grey-dark;

		p {
			line-height: 1.45;
		}
	}
}

.two-columns-archive {
	.entry {
		margin-bottom: 1em;
	}

	.entry-image {
		margin-bottom: .75em;
	}
}

.one-column-archive {
	.entry {
		display: flex;
		align-items: flex-end;
		margin-bottom: 1.75em;

		.entry-content {
			margin-bottom: 0;
		}
	}

	.read-more-share-bar {
		display: flex;
		align-items: center;

		> a {
			flex-grow: 1;
			flex-shrink: 0;
		}

		.btn {
			margin-left: 1em;
		}
	}
}

@include media('<=phone') {
	.one-column-archive {
		.entry {
			display: block;

			.first {
				margin-bottom: .5em;
			}
		}
	}
}

.infinite-scroll {
	.pagination {
		display: none;
	}
}

.il-load-more {
	clear: both;
	margin-top: 2em;
	margin-bottom: 4em;
	padding: 0 .25em;
	width: 100%;
	height: 2px;
	background-color: $grey-dark;
	color: $grey-dark;

	&:focus {
		outline: none;
	}

	span {
		display: inline-block;
		background-color: $white;
		transform: translateY(-25%);
	}

	i {
		display: block;
		margin-bottom: 1.25em;
		font-size: 1.25em;
	}

	label {
		@include meta-font;
		display: block;
		margin-bottom: 0;
		color: inherit;
		text-transform: none;
		font-size: 1em;
	}
}

.archive-description {
	> .wrap {
		@extend %wrap;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid $grey-border;
	}
}

.archive-title {
	color: $orange;
	text-transform: uppercase;
	font-size: 1.5em;
}

.archive-slider-container {
	overflow: hidden;
	margin-top: -1.5em;
	margin-bottom: 2.5em;

	> .wrap {
		@extend %wrap;
		position: relative;
		padding-right: 0;
		height: $slider-height;
	}
}

@include media('<=phone') {
	.archive-slider-container {
		> .wrap {
			padding-left: 0;
			height: auto;
		}
	}
}

.slider-for {
	width: 67.5%;
	height: 100%;

	img {
		max-width: none;
		width: 100%;
	}

	.slide-content {
		position: relative;
		display: none;
		align-items: center;
		padding: 1em 1.5em;
		border: 1px solid $orange;
		background-color: $white;

		&:before,
		&:after {
			position: absolute;
			bottom: 100%;
			left: 50%;
			width: 0;
			height: 0;
			border-width: 0 .5em .75em .5em;
			border-style: solid;
			border-color: transparent;
			content: '';
			transform: translateX(-50%);
		}

		&:before {
			border-bottom-color: $orange;
		}

		&:after {
			margin-bottom: -1px;
			border-bottom-color: $white;
		}

		i {
			flex-grow: 0;
			flex-shrink: 0;
			order: 2;
			margin-left: .5em;
			color: $orange;
			font-size: 3.25em;
		}

		span {
			flex-grow: 1;
			flex-shrink: 1;
			order: 1;
			text-transform: uppercase;
			font-family: $heading;
		}
	}
}

@include media('<=phone') {
	.slider-for {
		width: 100%;
		height: auto;

		.slide-content {
			display: block;
			display: flex;
		}
	}
}

.slider-nav {
	position: absolute;
	top: 0;
	right: .75em;
	width: 35.5%;
	height: 100%;
	color: $white;

	.slick-slide {
		cursor: pointer;
	}

	.outer {
		position: relative;
		margin-left: 2em;
		height: $slider-height / 4;
		background-color: $black;

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			right: 100%;
			display: none;
			width: 0;
			height: 0;
			border-width: .5em .65em .5em 0;
			border-style: solid;
			border-color: transparent;
			content: '';
			transform: translateY(-50%);
		}

		&:before {
			border-right-color: $orange;
		}

		&:after {
			margin-right: -1px;
			border-right-color: $white;
		}
	}

	.inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding: 1.25em;
		border: 1px solid $white;
		background-color: rgba( $black, .75 );

		i {
			margin-right: .5em;
			font-size: 3.25em;
		}

		span {
			text-transform: uppercase;
			font-family: $heading;
		}
	}

	.slick-current {
		border-color: $orange;

		.outer {
			margin-left: 1em;

			&:before,
			&:after {
				display: block;
			}
		}

		.inner {
			border-color: $orange;
			background-color: $white;

			i {
				color: $orange;
			}

			span {
				color: $text;
			}
		}
	}

	img {
		max-width: none;
		width: 100%;
		height: 100%;
	}
}

@include media('<=phone') {
	.slider-nav {
		display: none;
	}
}

.archive-has-slider {
	.archive-description {
		@extend %visuallyhidden;
	}
}

.subcategory {
	margin-bottom: 2em;

	&:first-of-type {
		margin-top: 1.25em;
	}
}

.subcategory-description {
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid $grey-border;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;
	}

	.ico-circle,
	.archive-title,
	.ico-arrow-right-circle {
		display: inline-block;
		vertical-align: middle;
	}

	.ico-circle {
		color: $orange;
		font-size: 3em;
	}

	.archive-title {
		margin-right: .5em;
		margin-left: .5em;
	}

	.ico-arrow-right-circle {
		font-size: 1.5em;
	}
}
