.page-template-page_calendar {
	.content-sidebar-wrap {
		padding-right: 0;
		padding-left: 0;
		max-width: none;
	}

	.archive-slider-container {
		margin-bottom: 0;
	}

	.slider-nav {
		.info {
			flex-shrink: 0;
			margin-right: .5em;
			padding: .25em;
			width: 4em;
			height: 4em;
			border: $border-width solid $white;
			border-radius: 50%;
			text-align: center;
		}

		.starts,
		.ends,
		.m,
		.d {
			display: block;
			line-height: 1;
		}

		.starts,
		.ends {
			text-transform: lowercase;
			font-size: .5em;
		}

		.m {
			text-transform: none;
			font-weight: bold;
			font-size: .95em;
		}

		.d {
			font-weight: bold;
			font-size: 1.5em;
		}

		.slick-current {
			.info {
				border-color: $orange;
				color: $orange;
			}

			.starts,
			.ends,
			.m,
			.d {
				color: $orange;
			}
		}
	}

	.subcategory {
		margin-bottom: 1.5em;

		&:last-child {
			margin-bottom: 0;
		}

		> .wrap {
			@extend %wrap;
			max-width: none;
		}

		.slick-slide {
			margin: 0 .25em;
		}

		.slick-list {
			margin: 0 -.25em;
		}
	}

	.subcategory-description {
		margin-bottom: .5em;
		padding-bottom: 0;
		border-bottom: none;

		.ico-circle {
			font-size: 2.5em;
		}

		.archive-title {
			color: inherit;
		}
	}
}

@include media('<=portrait') {
	.page-template-page_calendar {
		.slider-nav {
			display: none;
		}
	}
}

.calendar-search-bar {
	margin-bottom: 2.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: $orange-light;

	> .wrap {
		@extend %wrap;
	}

	h2 {
		text-transform: uppercase;
		font-size: 1.1em;
	}

	form {
		display: flex;
		align-items: center;
		padding-right: 1em;
		padding-left: 1em;

		> div {
			float: left;
			margin-left: .75%;

			&:first-child {
				margin-left: 0;
			}
		}

		.head {
			width: 12.5%;
		}

		.search {
			width: 31.5%;
		}

		.one {
			position: relative;
			width: 16.125%;
		}

		select {
			padding-right: 2.5em;

			&.styled {
				border: none;
			}
		}

		.datepicker {
			padding-right: 2.5em;
		}

		.post {
			width: 20.75%;
		}

		.ico-arrow-down {
			position: absolute;
			top: 50%;
			right: 1em;
			font-size: .75em;
			transform: translateY(-50%);
			pointer-events: none;
		}
	}

	label {
		@extend %visuallyhidden;
	}

	input[type='search'],
	input[type='text'] {
		border: none;
	}

	.btn {
		padding: .5em;
		width: 100%;
	}
}

@include media('<=portrait') {
	.calendar-search-bar {
		form {
			display: block;
			padding-right: 0;
			padding-left: 0;

			> div {
				margin-left: 0;
			}

			.head {
				float: none;
				margin-bottom: .5em;
				width: 100%;
			}

			.search {
				float: none;
				margin-bottom: .5em;
				width: 100%;
			}

			.one {
				width: 50%;

				&:nth-of-type(odd) {
					padding-right: .25em;
				}

				&:nth-of-type(even) {
					padding-left: .25em;
				}
			}

			.post {
				display: none;
			}
		}
	}
}

.event-slide {
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: transform .15s;

	.slick-sliders & {
		border: 1px solid $white;
	}

	&:hover,
	&:focus {
		z-index: 5;
		transform: scale(1.2);
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.inner {
		position: absolute;
		right: .5em;
		bottom: 1.5em;
		left: .5em;
		padding: .5em;
		background-color: $white;
		background-color: rgba( $white, .9 );
		text-align: center;
	}

	.title,
	.date {
		display: block;
		font-size: .9em;
	}

	.title {
		text-transform: uppercase;
		font-family: $heading;
	}
}
