.breadcrumbs {
	margin-bottom: .5em;
	color: $grey-lighter;

	> span {
		font-size: .9em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.breadcrumb_last {
		color: $orange;
	}
}

.entry-slideshow {
	position: relative;
	margin-top: -1.5em;
	margin-bottom: 1.5em;

	.slick-current {
		&:hover,
		&:focus {
			.slide-content {
				opacity: 1;
			}
		}
	}

	.slide-content {
		position: absolute;
		right: .5em;
		bottom: .5em;
		left: .5em;
		padding: .5em;
		background-color: rgba( $white, .5 );
		opacity: 0;
		transition: opacity $transition-time;

		p {
			@extend %type;
			text-align: center;
			font-weight: 600;
			font-size: .85em;
		}
	}
}

.entry-header {
	margin-bottom: .5em;

	.bookmarks-button-container,
	button {
		display: inline-block;
		margin-left: 1em;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
	}
}

.entry-title {
	clear: both;
	overflow: hidden;
	margin-bottom: .5em;
	word-wrap: break-word;
	font-size: 1.75em;

	.single-post & {
		text-transform: uppercase;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@include media('<=landscape') {
	.entry-title {
		font-size: 1.5em;
	}
}

.date-row {
	margin-bottom: 1em;
	font-family: $heading;
}

.entry-time {
	color: $orange;
	font-size: 1.1em;
}

.entry-author {
	color: $orange;
	text-transform: uppercase;
	font-style: normal;
	font-family: $heading;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.featured-image-container {
	position: relative;
	margin-bottom: 1em;

	img {
		max-width: none;
		width: 100%;
	}
}

.header-default {
	.entry-header {
		.entry-title {
			margin-bottom: .5em;
			padding-bottom: .35em;
			border-bottom: 1px solid $grey-border;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
			text-align: right;

			> p {
				@include meta-font;
				font-size: .9em;
			}
		}
	}
}

@include media('<=portrait') {
	.header-default {
		.entry-header {
			.left {
				float: none;
				margin-bottom: 1.5em;
			}

			.right {
				float: none;
			}
		}
	}
}

.header-slideshow {
	.entry-header {
		margin-bottom: 2.5em;

		.inner {
			display: flex;
		}
	}

	.header-right {
		border-left: 1px solid $grey-border;
	}

	.header-top {
		display: flex;
		align-items: center;
		padding: 1em 2em 1.75em;
	}

	.header-bottom {
		padding: 2em;
		border-top: 1px solid $grey-border;

		.btn {
			display: block;
			margin-top: 2em;
			margin-left: 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	.author-left {
		float: left;

		img {
			display: block;
			border: $border-width solid $orange;
			border-radius: 50%;
		}
	}

	.author-right {
		float: right;
		margin-left: .5em;
		text-align: center;

		.entry-author {
			display: block;
			margin-bottom: .75em;
			color: $orange;
			text-transform: uppercase;
			font-size: 1.05em;
			font-family: $heading;
		}

		p {
			@include meta-font;
			font-size: .95em;
		}
	}
}

@include media('<=portrait') {
	.header-slideshow {
		.entry-header {
			.inner {
				display: block;
			}
		}

		.header-right {
			display: flex;
			align-items: center;
			border-left: none;
		}

		.header-top {
			flex-grow: 1;
			flex-shrink: 1;
			padding: 0 1em 0 0;
		}

		.header-bottom {
			flex-grow: 0;
			flex-shrink: 0;
			padding: 0;
			border-top: none;
		}
	}
}

.spon-tag {
	position: absolute;
	right: 1em;
	bottom: 1.25em;
	z-index: 5;
	padding: .5em 1.25em;
	background-color: $white;
	color: $black;
	text-transform: uppercase;
	font-size: .85em;
	line-height: 1;
	opacity: .8;
}

.entry-excerpt {
	@include meta-font;
	margin-bottom: .75em;
	color: $grey-light;

	p {
		font-size: 1.1em;
		line-height: 1.5;
	}
}

.entry-video {
	margin-bottom: 1em;
}

.entry-content {
	.entry & {
		margin-bottom: 1.5em;
	}

	h2 {
		margin-bottom: .2em;
		color: $orange;
		font-size: 1.1em;
	}

	p {
		line-height: 1.75;
	}

	ol,
	ul {
		@extend %type;
		overflow: hidden;
		padding-left: 2.5em;
		line-height: 1.75;

		ol,
		ul {
			margin-bottom: .5em;
			padding-left: 1.5em;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	blockquote {
		margin: 0;
	}

	table {
		margin-bottom: 1.5em;
	}
}

.more-link {
	@include meta-font;
	position: relative;
	color: $orange;
	text-decoration: none;
	white-space: nowrap;
}

.entry-footer {
	margin-bottom: 1.25em;

	&:empty {
		display: none;
	}
}

.entry-subscribe {
	margin-bottom: 2em;
	padding: 1.25em 1.75em 1.75em;
	border: 1px solid $orange;

	h2 {
		margin-bottom: .25em;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25em;
	}

	p {
		margin-bottom: 1em;
		color: $grey;
		text-align: center;
		font-weight: 600;
	}

	input[type='email'] {
		margin-bottom: 2em;
	}
}

.author-box {
	margin-bottom: 2em;
	padding-top: 1.25em;
	border-top: 1px solid $grey-border;

	img {
		display: block;
		margin-bottom: 1em;
		border: $border-width solid $orange;
		border-radius: 50%;
	}

	figcaption {
		color: $grey;
		font-size: .85em;
	}

	.right {
		padding-top: 1em;
	}

	.author-box-title {
		@include meta-font;
		margin-bottom: .75em;
		font-size: .95em;

		span {
			margin-right: .5em;
			color: $orange;
			text-transform: uppercase;
			font-style: normal;
			font-size: 1.1em;
			font-family: $heading;
		}
	}

	p {
		color: $grey-dark;
		font-size: .9em;
		line-height: 1.4;
	}

	.read-more {
		@include meta-font;
		color: $grey-lighter;
		text-align: right;
		font-size: .95em;
	}
}

@include media('<=portrait') {
	.author-box {
		margin-bottom: 2em;

		.left {
			float: left;
			margin-right: .75em;
			margin-bottom: 1em;
			max-width: 7.5em;
			text-align: center;
		}

		img {
			margin-right: auto;
			margin-left: auto;
		}

		.right {
			clear: none;
			padding-top: 0;
		}
	}
}

.entry-pagination {
	@extend %type;
}
