.single-event,
.single-listing {
	.nav-primary-wrapper {
		margin-bottom: 2.5em;
	}

	.entry-header {
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		border-bottom: 1px solid $grey-border;
	}

	.entry-title {
		margin-bottom: .25em;
		text-transform: uppercase;
	}

	.entry-meta {
		@include meta-font;
		font-size: .95em;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.item-data {
	padding-bottom: 1.25em;
	border-bottom: 1px solid $grey-border;

	dt,
	dd {
		display: inline-block;
		margin: 0 0 .5em;
		vertical-align: middle;
	}

	dt {
		width: 15%;
		text-transform: uppercase;
		font-size: .65em;
	}

	dd {
		width: 85%;
		font-size: .95em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@include media('<=phone') {
	.item-data {
		dt {
			width: 20%;
		}

		dd {
			width: 80%;
		}
	}
}

.item-action-row {
	margin-bottom: 1.25em;
	padding-bottom: 1.25em;
	border-bottom: 1px solid $grey-border;
	text-align: center;

	> .btn,
	.button-nav,
	.bookmarks-button-container {
		display: inline-block;
		margin-left: 3em;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
	}
}

@include media('<=phone') {
	.item-action-row {
		> .btn,
		.button-nav,
		.bookmarks-button-container {
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
