.single-event,
.single-listing {
	.nav-primary-wrapper {
		margin-bottom: 2.5em;
	}

	.entry-header {
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		border-bottom: 1px solid $grey-border;
	}

	.entry-title {
		margin-bottom: .25em;
		text-transform: uppercase;
	}

	.entry-meta {
		@include meta-font;
		font-size: .95em;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.item-data {
	padding-bottom: 1.25em;
	border-bottom: 1px solid $grey-border;

	dt,
	dd {
		display: inline-block;
		margin: 0 0 .5em;
		vertical-align: middle;
	}

	dt {
		width: 15%;
		text-transform: uppercase;
		font-size: .65em;
	}

	dd {
		width: 85%;
		font-size: .95em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@include media('<=portrait') {
	.item-data {
		dt {
			width: 20%;
		}

		dd {
			width: 80%;
		}
	}
}

.item-action-row {
	margin-bottom: 1.25em;
	padding-bottom: 1.25em;
	border-bottom: 1px solid $grey-border;
	text-align: center;

	> .btn,
	.button-nav,
	.bookmarks-button-container {
		display: inline-block;
		margin-left: 3em;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
	}
}

@include media('<=portrait') {
	.item-action-row {
		> .btn,
		.button-nav,
		.bookmarks-button-container {
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.post-event-popup {
	max-width: 50em;

	.ico-favicon {
		font-size: 3.5em;
	}

	h2 {
		font-size: 1.25em;
	}

	.lead {
		margin-bottom: 1em;
		padding-bottom: 1.25em;
		border-bottom: 1px solid $grey-border;
		font-size: .85em;
	}

	.inner {
		display: flex;
	}

	.one-fourth {
		display: flex;
		flex-direction: column;
		text-align: center;

		p {
			@include meta-font;
			margin-bottom: .5em;
			color: $orange;
			font-size: .9em;
		}
	}

	.top {
		flex-grow: 1;
		flex-shrink: 1;
	}

	h3 {
		margin-bottom: 0;
		text-transform: uppercase;
		font-size: 1em;
	}

	ul {
		margin-bottom: 1em;
	}

	li {
		margin-bottom: 1em;
		font-size: .75em;
		line-height: 1;
	}

	.bottom {
		flex-grow: 0;
		flex-shrink: 0;
		min-height: 4em;
	}

	.btn {
		margin-bottom: .5em;
		width: 100%;
	}
}

@include media('<=portrait') {
	.post-event-popup {
		.inner {
			display: block;
		}

		.one-fourth {
			display: block;
		}

		.btn {
			width: auto;
		}
	}
}
