.sticky-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	background-color: $orange;
	transition: .25s transform ease-in-out;
	transform: translateY(-100%);

	.admin-bar & {
		top: 32px;
	}

	&.show {
		transform: translateY(0);
	}

	.force-hide-sticky-header & {
		transform: translateY(-100%) !important;
	}

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.left {
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 1em;
		color: $white;



		i {
			display: block;
			font-size: 4.5em;
		}
	}

	.right {
		flex-grow: 1;
		flex-shrink: 1;
	}

	.top {
		display: flex;
		align-items: center;
		margin-bottom: .25em;
		padding-top: 1em;
		color: $white;
	}

	.search-form {
		flex-grow: 1;
		flex-shrink: 1;
		max-width: none;
		border-color: $white;

		input[type='search'] {
			padding-left: 2.5em;
			border: none;
			font-size: .75em;
		}

		input[type='submit'] {
			padding: .55em 1em;
			font-size: .85em;
		}
	}

	.sites-nav {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 2em;

		&:hover,
		&:focus {
			ul {
				display: block;
			}
		}

		.btn {
			padding: .55em 1em;
			border: 1px solid $white;
			font-size: .85em;

			span,
			i {
				color: $white;
				font-size: 1em;
			}

			span {
				text-transform: uppercase;
			}
		}

		ul {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99;
			display: none;
			padding: .25em;
			width: 100%;
			border: 1px solid $orange;
			background-color: $white;
		}

		li {
			display: block;
			margin-left: 0;
			border-top: 1px solid $grey-border;

			&:first-child {
				border-top: none;
			}
		}

		a {
			position: relative;
			padding: .5em;
			color: $text;
			text-transform: uppercase;
			font-size: .85em;
			font-family: $heading;
			line-height: 1;
		}
	}

	.social {
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 2em;
	}

	.user-menu {
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 2em;

		.btn {
			padding: .55em 1em;
			border: 1px solid $white;
			background-color: $white;
			font-size: .85em;

			span,
			i {
				color: $orange;
				font-size: 1em;
			}

			span {
				text-transform: uppercase;
			}
		}
	}

	.toggle-sticky-header {
		margin-left: .5em;

		.btn {
			padding: .55em 1em;
			font-size: .85em;

			i {
				color: $white;
				font-size: 1em;
			}
		}
	}

	.bottom {
		display: flex;
		align-items: center;

		.nav-primary {
			flex-grow: 1;
			flex-shrink: 1;
		}

		.main-menu {
			.menu-item {
				> a {
					color: $white;
				}
			}


			.menu-item-link {
				&:after {
					background-color: $white;
				}
			}

			.sub-menu {
				top: 100%;
			}
		}

		.sticky-icon-nav {
			flex-grow: 0;
			flex-shrink: 0;
			font-family: $heading;

			.btn-icon {
				display: inline-block;
				padding: .55em 1em;
				border-left: 1px solid $white;
				vertical-align: middle;
				font-size: .85em;

				&:first-child {
					border-left: none;
				}

				i {
					color: $white;
				}

				span {
					color: $white;
					text-transform: uppercase;
					font-size: 1em;
				}
			}
		}
	}
}

@include media('<=tablet') {
	.sticky-header {
		display: none;
	}
}
