$home-transition-time: .25s;

.page-template-page_home {
	.archive-slider-container {
		margin-bottom: 1.25em;
	}

	.content-sidebar-wrap {
		padding-right: 0;
		padding-left: 0;
		max-width: none;
	}
}

@include media('<=phone') {
	.page-template-page_home {
		.archive-slider-container {
			margin-bottom: 2em;
		}
	}
}

.home-section {
	> .wrap {
		@extend %wrap;
	}

	h2 {
		margin-bottom: .5em;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.favorites-button {
		position: absolute;
		top: .5em;
		right: .5em;
		z-index: 99;
		opacity: 0;
		transition: opacity $home-transition-time ease-in-out;

		i {
			color: $grey-dark;
		}
	}

	.mobile-bar {
		margin-bottom: .25em;
		padding: .5em 1.5em;
		text-align: right;

		span {
			text-transform: uppercase;
		}

		i {
			font-size: 1em;
		}
	}
}

@include media('<=phone') {
	.home-section {
		h2 {
			margin-bottom: .25em;
			text-align: center;
		}
	}
}

.home-section-mobile-buttons {
	margin-bottom: 1.75em;
	text-align: center;

	> .wrap {
		display: flex;
	}

	.btn {
		flex-grow: 1;
		flex-shrink: 1;
		margin-left: .75em;
		padding-right: .25em;
		padding-left: .25em;

		&:first-child {
			margin-left: 0;
		}
	}
}

@include media('<=phone') {
	.home-section-featured-posts {
		margin-bottom: 1.25em;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
		}

		.one-half {
			margin-bottom: 0;
		}
	}
}

.main-pick {
	position: relative;
	display: block;
	margin-bottom: 1.25em;
	border: 1px solid $orange;

	&:hover,
	&:focus {
		.favorites-button {
			opacity: 1;
		}

		.top {
			img {
				opacity: .5;
				transform: scale(1.1);
			}
		}

		h3 {
			color: $orange;
		}
	}

	.top {
		overflow: hidden;
		background-color: $black;

		img {
			transition: all $home-transition-time ease-in-out;
		}
	}

	img {
		display: block;
	}

	.bottom {
		display: flex;
		align-items: center;
		padding: .5em .75em;
		border-top: $border-width solid $orange;
		color: inherit;
		text-decoration: none;
	}

	.left {
		flex-grow: 1;
		flex-shrink: 1;
		float: left;

		p {
			@include meta-font;
			color: $grey-dark;
		}
	}

	h3 {
		margin-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.5em;
		transition: color $home-transition-time ease-in-out;
	}

	.right {
		flex-grow: 0;
		flex-shrink: 0;
		float: right;
		padding-left: 1em;

		img {
			margin: 0 auto .5em;
			border: $border-width solid $orange;
			border-radius: 50%;
		}

		p {
			text-align: center;
			text-transform: uppercase;
			font-style: .95em;
			font-family: $heading;
		}
	}
}

@include media('<=phone') {
	.main-pick {
		margin-bottom: 0;
		border: none;

		.top {
			border-top: 1px solid $orange;

			img {
			}
		}

		.bottom {
			display: block;
			padding: 1em 1.5em;
		}

		.left {
			float: none;
		}

		h3 {
			font-size: 1.1em;
		}

		.right {
			display: none;
		}
	}
}

.other-pick {
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 1.25em;
	background-color: $black;

	&:hover,
	&:focus {
		.favorites-button {
			opacity: 1;
		}

		img {
			opacity: .5;
			transform: scale(1.1);
		}

		h3 {
			a {
				color: $orange;
			}
		}
	}

	img {
		display: block;
		transition: all $home-transition-time ease-in-out;
	}

	h3 {
		position: absolute;
		right: .5em;
		bottom: .5em;
		left: .5em;
		padding: .25em .5em;
		background-color: $white;
		background-color: rgba($white, .9);
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;

		a {
			color: inherit;
			text-decoration: none;
			transition: color $home-transition-time ease-in-out;
		}
	}
}

@include media('<=phone') {
	.home-section-featured-posts {
		.other-picks {
			display: flex;
			flex-wrap: wrap;

			.item {
				display: none;
			}

			.item-1,
			.item-3 {
				display: block;
				width: 50%;
			}

			.item-1 {
				order: 1;
				float: left;
			}

			.item-3 {
				order: 2;
				float: left;
			}

			.item-2 {
				display: block;
				order: 3;
				padding: 1em 1.5em;
				border: 1px solid $orange;
			}
		}

		.other-pick {
			margin-bottom: 0;
		}
	}
}

$listing-slider-height: 18.75em;

.home-section-featured-video-listings {
	margin-bottom: 1.5em;

	> .wrap {
		> .left {
			float: left;
			width: 37%;
		}

		> .right {
			float: right;
			padding-left: 1.25em;
			width: 63%;
		}
	}

	img {
		max-height: $listing-slider-height;
		width: auto;
	}
}

@include media('<=phone') {
	.home-section-featured-video-listings {
		margin-bottom: 0;

		> .wrap {
			padding-right: 0;
			padding-left: 0;

			> .left,
			> .right {
				float: none;
				width: 100%;
			}

			> .left {
			}

			> .right {
				margin-bottom: 1em;
				padding-left: 0;
			}
		}

		img {
			max-height: none;
		}
	}
}

.listings-slider {
	position: relative;
	border: 1px solid $orange;
}

@include media('<=phone') {
	.listings-slider {
		border: none;
	}
}

.listing-slider-for {
	width: 62.5%;
	height: $listing-slider-height;

	.slick-slide {
		position: relative;
	}

	.slide-content {
		padding: .75em;
		border-top: 1px solid $orange;
		border-bottom: 1px solid $orange;
		background-color: $white;
		text-align: center;

		h3 {
			margin-bottom: .25em;
			text-transform: uppercase;
			font-size: 1em;
		}

		p {
			@include meta-font;
			color: $orange;
			font-size: .9em;

			a {
				text-decoration: none;
			}
		}
	}
}

@include media('<=phone') {
	.listing-slider-for {
		width: 100%;
		height: auto;

		img {
			border-top: 1px solid $orange;
		}
	}
}

.listing-slider-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 47.5%;
	height: $listing-slider-height * .8;

	.slick-slide {
		cursor: pointer;

		&:first-child {
			.listing-slide-default {
				.inner {
					border-top: none;
				}
			}

			.listing-slide-active {
				border-top: none;
			}
		}

		&:last-child {
			.listing-slide-default {
				.inner {
					border-bottom: 1px solid $orange;
				}
			}
		}
	}

	i {
		display: block;
		color: $orange;
		font-size: 2em;
	}

	.slick-current {
		.listing-slide-default {
			display: none;
		}

		.listing-slide-active {
			display: block;
		}

		+ .slick-slide {
			.listing-slide-default {
				.inner {
					border-top: none;
				}
			}
		}
	}
}

@include media('<=phone') {
	.listing-slider-nav {
		display: none;
	}
}

.listing-slide-default {
	margin-left: 1.5em;
	padding-left: 1em;
	height: $listing-slider-height * .2;
	border-right: $border-width solid $orange;
	border-left: 1px solid $orange;
	background-color: $white;

	.inner {
		display: flex;
		align-items: center;
		padding: .75em .75em .75em 0;
		height: 100%;
		border-top: 1px solid $orange;
	}

	.left {
		flex-grow: 1;
		flex-shrink: 1;
	}

	h3 {
		text-transform: uppercase;
		font-size: .9em;
	}

	.right {
		flex-grow: 0;
		flex-shrink: 0;
		padding-left: 1em;
	}
}

.listing-slide-active {
	display: none;
	height: $listing-slider-height * .2;
	border-top: 1px solid $orange;
	border-bottom: 1px solid $orange;
	border-left: 1px solid $orange;
	background-color: $white;

	.inner {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.left {
		flex-grow: 0;
		flex-shrink: 0;
	}

	i {
		padding: .25em .5em;
	}

	.right {
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		align-items: center;
		padding: .25em .75em .25em .5em;
		height: 100%;
		border-left: $border-width solid $orange;
	}

	.address,
	.contact {
		@include meta-font;
		font-size: .75em;
	}

	.address {
		flex-grow: 1;
		flex-shrink: 1;
		padding-right: 1.5em;
	}

	.contact {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.listings-more {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 1.5em;
	width: 47.5%;
	height: $listing-slider-height * .2;
	border-right: $border-width solid $orange;

	.inner {
		display: flex;
		align-items: center;
		padding: .75em .75em .75em 0;
		height: 100%;
		border-left: 1px solid $orange;
		background-color: $white;
	}

	.left {
		flex-grow: 1;
		flex-shrink: 1;
		padding-left: 1em;
	}

	h3 {
		text-transform: uppercase;
		font-size: .9em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.right {
		flex-grow: 0;
		flex-shrink: 0;
		padding-left: 1em;
	}

	i {
		color: $orange;
		font-size: 1.5em;
	}
}

@include media('<=phone') {
	.listings-more {
		display: none;
	}
}

$slider-height: 25em;

.home-section-events-join {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	background-color: $orange-light;

	.left {
		position: relative;

		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: .75em 1.5em;
			height: 100%;
			background-color: #686868;
			color: $white;
			text-align: center;
		}

		.m,
		.d {
			display: block;
			font-family: $heading;
			line-height: 1;
		}

		.m {
			text-transform: uppercase;
			font-size: 1.25em;
		}

		.d {
			font-size: 2.5em;
		}

		.name {
			padding: .25em 1em;
			opacity: .7;
		}

		.cat,
		.title {
			display: block;
			color: $white;
		}

		.cat {
			@include meta-font;
			margin-bottom: .25em;
			font-size: .95em;
		}

		.title {
			text-transform: uppercase;
			font-size: 1.1em;
			font-family: $heading;
			line-height: 1.2;
		}

		.inner {
			i {
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: .25em;
				color: $orange;
				opacity: 0;
				transform: translateY(-50%);
			}
		}
	}

	.join {
		padding: 2em 1em 2.5em;
		min-height: $slider-height;
		background-color: $orange;
		color: $white;
		text-align: center;

		> i {
			display: block;
			margin-bottom: .66em;
			font-size: 4em;
		}

		h3 {
			margin-bottom: 1em;
			text-transform: uppercase;
			font-size: 1.1em;
		}

		.top {
			@include meta-font;
			margin-bottom: 2.5em;
		}

		.btn {
			margin-bottom: 2.75em;
			border: 2px solid $white;
		}

		.bottom {
			font-size: .85em;
			line-height: 1.2;
		}
	}
}

@include media('<=phone') {
	.home-section-events-join {
		padding-bottom: 2em;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
		}

		.join {
			margin: 0 auto;
			padding: .75em;
			min-height: 0;
			max-width: 22.5em;

			> i {
				margin-bottom: .33em;
				font-size: 3em;
			}

			h3 {
				margin-bottom: .5em;
			}

			.top {
				margin-bottom: .75em;
			}

			.btn {
				margin-bottom: .75em;
			}
		}
	}
}

.event-slider-for {
	overflow: hidden;
	width: 67.5%;
	height: $slider-height;

	img {
		max-width: none;
		height: 100%;
		border-top: 1px solid $orange;
	}

	.slide-content {
		display: none;
		align-items: center;
		border-top: 1px solid $orange;
		border-bottom: 1px solid $orange;
		background-color: $white;

		.info {
			position: relative;
			flex-grow: 0;
			flex-shrink: 0;
			align-self: stretch;
			height: auto;
			background-color: $orange;

			&:before {
				position: absolute;
				bottom: 100%;
				bottom: 100%;
				left: 50%;
				width: 0;
				height: 0;
				border-width: 0 .5em .75em .5em;
				border-style: solid;
				border-color: transparent;
				border-bottom-color: $orange;
				content: '';
				transform: translateX(-50%);
			}
		}

		.m {
			font-size: .75em;
		}

		.d {
			font-size: 1.25em;
		}

		.name {
			flex-grow: 1;
			flex-shrink: 1;
			opacity: 1;
		}

		.cat {
			color: $orange;
			font-size: .75em;
		}

		.title {
			color: inherit;
		}

		i {
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: .75em;
			color: $orange;
			font-size: 2em;
			opacity: .3;
		}
	}
}

@include media('<=phone') {
	.event-slider-for {
		width: 100%;
		height: auto;

		.slide-content {
			display: flex;
		}
	}
}

.event-slider-nav {
	position: absolute;
	top: 0;
	right: .75em;
	width: 35.5%;
	height: 100%;
	color: $white;

	.slick-slide {
		cursor: pointer;
	}

	.outer {
		position: relative;
		margin-left: 2em;
		height: $slider-height / 4;
		background-color: $black;
		transition: margin-left .1s ease-in-out;

		&:before {
			position: absolute;
			top: 50%;
			right: 100%;
			display: none;
			width: 0;
			height: 0;
			border-width: .5em .65em .5em 0;
			border-style: solid;
			border-color: transparent;
			content: '';
			transform: translateY(-50%);
		}

		&:before {
			border-right-color: $orange;
		}
	}

	img {
		max-width: none;
		width: auto;
		height: 100%;
	}

	.inner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		border: 1px solid $white;
		background-color: rgba( $black, .75 );

		i {
			margin-right: .5em;
			font-size: 3.25em;
		}
	}

	.slick-current {
		border-color: $orange;

		.outer {
			margin-left: 1em;

			&:before,
			&:after {
				display: block;
			}
		}

		.inner {
			border-color: $orange;
			background-color: $white;

			i {
				opacity: .3;
			}
		}

		.info {
			background-color: $orange;
		}

		.cat {
			color: $orange;
		}

		.title {
			color: $black;
		}
	}
}

@include media('<=phone') {
	.event-slider-nav {
		display: none;
	}
}

.home-section-trending {
	margin-bottom: 1.25em;
	padding-bottom: 1.5em;
	background-color: $orange-light;

	a {
		position: relative;
		display: block;
		color: $white;

		&:hover,
		&:focus {
			.overlay {
				opacity: 1;
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}

	.ico-hexagon,
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		line-height: 1;
		transform: translateX(-50%) translateY(-50%);
	}

	.ico-hexagon {
		display: block;
		font-size: 6.5em;
	}

	span {
		display: block;
		font-size: 3em;
		font-family: $heading;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		padding: 1em 1em .75em;
		width: 100%;
		height: 100%;
		background-color: $orange;
		color: $white;
		text-align: center;
		opacity: 0;
		transition: opacity $home-transition-time ease-in-out;

		div {
			width: 100%;
		}

		i {
			display: block;
			margin: 0 auto .25em;
			font-size: 3em;
		}

		h3 {
			text-transform: uppercase;
			font-size: .9em;
		}
	}
}

@include media('<=phone') {
	.home-section-trending {
		padding-bottom: 0;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.home-section-latest-posts {
	.banner {
		margin: 0 auto 1.25em;
		text-align: center;
	}

	h2 {
		a {
			color: inherit;
			text-decoration: none;
		}

		span,
		i {
			display: inline-block;
			vertical-align: middle;
		}

		i {
			margin-left: .5em;
		}
	}

	.block {
		a {
			display: block;
			color: inherit;
			text-decoration: none;
		}
	}

	.one-fourth {
		position: relative;
		overflow: hidden;
		margin-bottom: 2em;

		&:hover,
		&:focus {
			.category-icon {
				opacity: .5;
			}

			.favorites-button {
				opacity: 1;
			}

			img {
				opacity: .5;
				transform: scale(1.1);
			}

			.bottom {
				bottom: 0;
			}

			h3 {
				color: $orange;
			}
		}
	}

	.top {
		position: relative;
		overflow: hidden;
		background-color: $black;

		img {
			display: block;
			transition: all $home-transition-time ease-in-out;
		}
	}

	.category-icon {
		position: absolute;
		top: .2em;
		left: .2em;
		padding: .1em;
		border-radius: 50%;
		background-color: $white;
		color: $orange;
		font-size: 2.5em;
		transition: opacity $home-transition-time ease-in-out;
	}

	.bottom {
		position: absolute;
		bottom: -1em;
		left: 0;
		padding-top: .5em;
		width: 100%;
		border-top: $border-width solid $orange;
		background-color: $white;
		transition: bottom $home-transition-time ease-in-out;
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;
		transition: color $home-transition-time ease-in-out;
	}

	.author {
		@include meta-font;
		display: block;
		text-align: center;
		font-size: .9em;
	}

	.il-load-more {
		margin-top: 1em;
	}
}
