// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

.content-sidebar-wrap {
	@extend %clearfix;
	@extend %wrap;
}

.content,
.sidebar-primary {
	margin-bottom: 1em;
}

.content-sidebar {
	.content {
		float: left;
		width: 74%;
	}

	.sidebar-primary {
		float: right;
		width: 24%;
	}
}

@include media('<=phone') {
	.content-sidebar {
		.content {
			float: none;
			width: 100%;
		}

		.sidebar-primary {
			float: none;
			margin: 0 auto;
			margin-bottom: 3em;
			max-width: 18.5em;
			width: 100%;
		}
	}
}
