.related {
	clear: both;

	> .wrap {
		@extend %wrap;
	}

	.block {
		padding-top: 1em;
		border-top: $border-width solid $black;
	}

	h2 {
		margin-bottom: .5em;
		text-transform: uppercase;
	}

	.one-fourth {
		position: relative;
		overflow: hidden;
		margin-bottom: 2em;

		&:hover,
		&:focus {
			.category-icon {
				opacity: .5;
			}

			img {
				opacity: .5;
				transform: scale(1.1);
			}

			h3 {
				color: $orange;
			}
		}
	}

	.top {
		position: relative;
		overflow: hidden;
		background-color: $black;

		img {
			display: block;
			max-width: none;
			width: 100%;
			transition: all $home-transition-time ease-in-out;
		}
	}

	.category-icon {
		position: absolute;
		top: .2em;
		left: .2em;
		padding: .1em;
		border-radius: 50%;
		background-color: $white;
		color: $orange;
		font-size: 2.5em;
		transition: opacity $home-transition-time ease-in-out;
	}

	.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		padding-top: .5em;
		width: 100%;
		border-top: $border-width solid $orange;
		background-color: $white;
		transition: bottom $home-transition-time ease-in-out;
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1em;
		transition: color $home-transition-time ease-in-out;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

@include media('<landscape') {
	.related {
		.bottom {
			position: relative;
		}
	}
}
