/*********************
SIZES
*********************/
$spacer: 1.25em;
$site-width: 80em; // Useful for fixed width sites, as well as for limiting the max-width of fluid sites
$border-width: 3px;

/*********************
BREAKPOINTS
*********************/
$breakpoints: ( phone: 45em, tablet: 55em );

/*********************
COLORS
*********************/
$black: #252525;
$text: #3a3a3a;
$grey-border: #d7d7d7;
$grey-light: #919191;
$grey-lighter: #c7c7c7;
$grey: #999;
$grey-dark: #4f4f4f;
$orange: #fe862c;
$orange-light: #fad9bd;
$orange-dark: #fa7d1f;

/*********************
ALERTS
*********************/
$errorText: $red;
$successText: $green;
$infoText: $blue;

/*********************
SOCIAL COLORS - http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
*********************/
$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #007bb6;
$google: #dd4b39;
$youtube: #b00;
$pinterest: #cb2027;
$tumblr: #32506d;
$flickr: #ff0084;
$instagram: #517fa4;
$vimeo: #aad450;
$foursquare: #0072b1;
$rss: #f60;

/*********************
TYPOGRAPHY - http://cssfontstack.com/
*********************/
// https://medium.com/@mwichary/system-shock-6b1dc6d6596f
$heading: 'Montserrat', Tahoma, Verdana, Segoe, sans-serif;
$body: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$meta: 'Noto Serif', Georgia, Times, 'Times New Roman', serif;
