// Compass & Variables
@import 'compass/css3';

// Colors
@import '../bower_components/colors-sass/sass/variables';

// Variables & Mixins
@import '../bower_components/include-media/dist/_include-media';
@import '../bower_components/include-media-export/dist/_include-media-export';
@import 'variables';
@import 'mixins';

// Toolkit
@import 'toolkit';

.profile {
	.content {
		margin-bottom: 1.75em;
	}
}

.profile-heading {
	display: flex;
	align-items: center;
	margin-bottom: 1.75em;
	padding-bottom: 1.25em;
	border-bottom: 2px solid $grey-border;

	.left {
		display: flex;
		align-items: center;

		img {
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: 1em;
			border: $border-width solid $orange;
			border-radius: 50%;
		}
	}
}

@include media('<=portrait') {
	.profile-heading {
		display: block;
	}
}

.profile-welcome {
	flex-grow: 1;
	flex-shrink: 1;

	span {
		display: block;
		margin-bottom: .25em;
		color: $orange;
		font-size: 1.1em;
	}

	h1,
	h2 {
		text-transform: uppercase;
		font-size: 2.25em;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.profile-nav {
	opacity: .5;

	a {
		display: inline-block;
		color: inherit;
		vertical-align: middle;
		text-decoration: none;
		font-size: .9em;

		&:before {
			margin-right: .5em;
			margin-left: .25em;
			content: '/';
		}

		&:first-child {
			&:before {
				display: none;
			}
		}
	}
}

.profile-bookmarks-info {
	padding: .75em 1em;
	border: 1px solid $orange;
	background-color: #f7f8f9;
	text-align: center;

	p {
		@extend %type;
	}

	.orange {
		@include meta-font;
		margin-bottom: .75em;
		color: $orange;

		i {
			margin-right: .25em;
			margin-left: .25em;
			vertical-align: middle;
			font-size: 4em;
		}
	}

	.black {
		font-size: .9em;
		font-family: $heading;
	}
}

@include media('<=landscape') {
	.profile-bookmarks-info {
		.orange {
			i {
				font-size: 3em;
			}
		}
	}
}

@include media('<=portrait') {
	.profile-bookmarks-info {
		display: none;
	}
}

.profile-boxes {
	.box {
		margin-bottom: 1.75em;
		border: 1px solid $orange;

		&.invert-colors {
			.placeholder {
				background-color: $orange;
			}

			i {
				color: $white;
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.top {
		position: relative;
		border-bottom: $border-width solid $orange;
		text-align: center;

		img {
			display: block;
			max-width: none;
			width: 100%;
		}

		.placeholder {
			padding-bottom: 68.5%;
			width: 100%;
			background-color: #f7f8f9;
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			color: $orange;
			font-size: 4.5em;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.bottom {
		padding: 1.25em 1em;
		text-align: center;
	}

	h3 {
		margin-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.5em;
	}

	p {
		@extend %type;
		@include meta-font;
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.profile-page-title {
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 1.25em;
}

.folders-list {
	padding-right: 1em;

	hr {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		border: 1px solid $text;
	}

	h4 {
		margin-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.1em;

		i {
			margin-right: .5em;
			font-size: .5em;
		}

		a {
			display: flex;
			align-items: center;
		}
	}

	li {
		margin-bottom: .5em;
		font-size: 1.1em;
	}

	a {
		color: inherit;
		text-decoration: none;

		&.current {
			color: $orange;
		}
	}
}

.folder-header {
	margin-bottom: 2em;

	h1,
	.edit-folder-link {
		display: inline-block;
		vertical-align: bottom;
	}

	h1 {
		text-transform: uppercase;
		font-size: 1.75em;
	}
}

.edit-folder-link {
	margin-left: .5em;
	color: inherit;
	text-decoration: none;
	font-size: .9em;
	opacity: .5;
}

.add-more-link {
	@include meta-font;
	text-decoration: none;
}
